USE [master]
GO
/****** Object:  Database [BookStore]    Script Date: 6/5/2025 11:51:24 PM ******/
CREATE DATABASE [BookStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookStore.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BookStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookStore]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [uniqueidentifier] NOT NULL,
	[StreetNumber] [nvarchar](max) NULL,
	[StreetName] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddressStatuses]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddressStatuses](
	[StatusId] [uniqueidentifier] NOT NULL,
	[AddressStatusName] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_AddressStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorId] [uniqueidentifier] NOT NULL,
	[AuthorName] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookId] [uniqueidentifier] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BookAuthors] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC,
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookLanguages]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookLanguages](
	[LanguageId] [uniqueidentifier] NOT NULL,
	[LanguageCode] [nvarchar](max) NULL,
	[LanguageName] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_BookLanguages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[IBSN13] [nvarchar](max) NULL,
	[ImageName] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[LanguageId] [uniqueidentifier] NOT NULL,
	[NumPages] [int] NOT NULL,
	[PublicationDate] [datetime2](7) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[PublisherId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[Price] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](max) NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [uniqueidentifier] NOT NULL,
	[CountryName] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddresses]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddresses](
	[AddressId] [uniqueidentifier] NOT NULL,
	[StatusId] [uniqueidentifier] NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerAddresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC,
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerOrders]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOrders](
	[OrderId] [uniqueidentifier] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[ShippingMethodId] [uniqueidentifier] NOT NULL,
	[DestAddressId] [uniqueidentifier] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_CustomerOrders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [uniqueidentifier] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHistories]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHistories](
	[HistoryId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[StatusId] [uniqueidentifier] NOT NULL,
	[StatusDate] [datetime2](7) NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderHistories] PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderLines]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderLines](
	[LineId] [uniqueidentifier] NOT NULL,
	[OrderId] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderLines] PRIMARY KEY CLUSTERED 
(
	[LineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[StatusId] [uniqueidentifier] NOT NULL,
	[StatusValue] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherId] [uniqueidentifier] NOT NULL,
	[PublisherName] [nvarchar](max) NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Publishers] PRIMARY KEY CLUSTERED 
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingMethods]    Script Date: 6/5/2025 11:51:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethods](
	[MethodId] [uniqueidentifier] NOT NULL,
	[MethodName] [nvarchar](max) NOT NULL,
	[Code] [int] NOT NULL,
	[CreatedTime] [datetime2](7) NULL,
	[ModifiedTime] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_ShippingMethods] PRIMARY KEY CLUSTERED 
(
	[MethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Addresses] ([AddressId], [StreetNumber], [StreetName], [City], [CountryId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'55957d7b-b8e6-4046-bc7e-0224c023cbda', N'333', N'Rosen Str', N'Frankfurt', N'68e69b9f-41c4-46a5-af7b-65a38d10621a', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Addresses] ([AddressId], [StreetNumber], [StreetName], [City], [CountryId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'c7ab157a-9d78-4e38-94e1-073140e858ac', N'789', N'5th Ave', N'Chicago', N'ebe59878-99ad-4392-8697-c2d8bf0dc6c0', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Addresses] ([AddressId], [StreetNumber], [StreetName], [City], [CountryId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'8cc45897-2ba0-4d34-19db-08dd9a9716bb', N'5', N'Thanh Xuan', N'Hanoi', N'37f4ea65-4936-469e-1478-08dd9a9716cb', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[AddressStatuses] ([StatusId], [AddressStatusName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'f96dbb6c-ac57-49c2-b897-1fe19e1e48a0', N'Deleted', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[AddressStatuses] ([StatusId], [AddressStatusName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'bbada06f-c2fd-49f6-8496-49115a24089c', N'Active', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[AddressStatuses] ([StatusId], [AddressStatusName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'297e34db-4e70-4781-bfba-cac41c6a293d', N'Pending', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'be594e49-3616-4d2c-9ff5-34f1288ce2b7', N'Admin', N'ADMIN', N'9fa4bc10-c0bc-4296-a30d-9353c437aab5')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'e7a8c700-88e2-4c36-b5fa-7c5710ee694f', N'User', N'USER', N'5ac052d9-fc09-46c4-a3c6-14f01fbe1b43')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'fedb3b73-6864-41c4-83f4-c74a22e65334', N'be594e49-3616-4d2c-9ff5-34f1288ce2b7')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'48bc966a-dd39-4fbc-a221-e452e982b2cc', N'e7a8c700-88e2-4c36-b5fa-7c5710ee694f')
GO
INSERT [dbo].[Authors] ([AuthorId], [AuthorName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'b99662e3-7f75-4e6e-bdd8-04f579270d3b', N'Kazuo Ishiguro', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Authors] ([AuthorId], [AuthorName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'de4e04e7-030c-486d-a44d-075f2cf69b46', N'Louisa May Alcott', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Authors] ([AuthorId], [AuthorName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'b9fe258d-809c-4d45-b362-077eca22d4f3', N'Dante Alighieri', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[BookAuthors] ([BookId], [AuthorId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'e7cae0ee-ac4e-4948-9c5d-3ac0ca4cd1ac', N'b99662e3-7f75-4e6e-bdd8-04f579270d3b', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[BookAuthors] ([BookId], [AuthorId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'5f8d0f76-6425-421a-b39f-4557e06d5748', N'b99662e3-7f75-4e6e-bdd8-04f579270d3b', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[BookAuthors] ([BookId], [AuthorId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'e13a059b-7946-41fa-813d-510ba186d656', N'b99662e3-7f75-4e6e-bdd8-04f579270d3b', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[BookLanguages] ([LanguageId], [LanguageCode], [LanguageName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'97ce11d9-ea3c-4a22-bd92-041fb9ade606', N'ES', N'Spanish', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[BookLanguages] ([LanguageId], [LanguageCode], [LanguageName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'89225491-00f8-40c0-9dc6-085675ce9a2a', N'FR', N'French', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[BookLanguages] ([LanguageId], [LanguageCode], [LanguageName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'87480af3-a707-4d7c-bf5d-2c989c6bbb16', N'DE', N'German', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[Books] ([BookId], [Title], [IBSN13], [ImageName], [ImageUrl], [LanguageId], [NumPages], [PublicationDate], [CategoryId], [PublisherId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted], [Price]) VALUES (N'e30145dc-57a3-4d83-b967-005d2061a958', N'Gulliver''s Travels', N'9780141439495', N'gulliverstravels.jpg', NULL, N'af1cb86a-0848-4bbd-8a50-f37e8f9b815c', 306, CAST(N'1726-10-28T00:00:00.0000000' AS DateTime2), N'58588216-0ab7-4ccc-91c9-6b5c6a1c4f88', N'bcb2ae24-8e7f-44da-bca4-89493a29e6c1', NULL, NULL, NULL, NULL, 0, CAST(19.99 AS Decimal(18, 2)))
INSERT [dbo].[Books] ([BookId], [Title], [IBSN13], [ImageName], [ImageUrl], [LanguageId], [NumPages], [PublicationDate], [CategoryId], [PublisherId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted], [Price]) VALUES (N'2d815aa9-f735-4f36-a7e9-03b66ae1bcec', N'The Stand', N'9780307743688', N'stand.jpg', N'https://example.com/stand.jpg', N'af1cb86a-0848-4bbd-8a50-f37e8f9b815c', 1153, CAST(N'1978-10-03T00:00:00.0000000' AS DateTime2), N'6a1d4c3b-3a1f-4feb-a314-5366f189abf8', N'b7042113-8e0f-4f55-87e1-28fbf88f970b', NULL, NULL, NULL, NULL, 0, CAST(4.99 AS Decimal(18, 2)))
GO
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'288257e9-f9cb-409c-bf46-038c4087ca34', N'Biography', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'2195092e-5e11-4231-b1ec-2022827f04af', N'Poetry', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'a5f94684-646e-4680-aeb0-212eebd19d01', N'Children', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'37f4ea65-4936-469e-1478-08dd9a9716cb', N'Vietnam', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'19818218-ae95-42f7-38d6-08dd9b538209', N'Viet Nam', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Countries] ([CountryId], [CountryName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'be36f41e-fc39-48c5-84a7-08dd9b544d4f', N'Vietnam', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[CustomerAddresses] ([AddressId], [StatusId], [CustomerId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'55957d7b-b8e6-4046-bc7e-0224c023cbda', N'f96dbb6c-ac57-49c2-b897-1fe19e1e48a0', N'84dc2038-0020-4c00-b3e4-055e24e747bd', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[CustomerAddresses] ([AddressId], [StatusId], [CustomerId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'c7ab157a-9d78-4e38-94e1-073140e858ac', N'bbada06f-c2fd-49f6-8496-49115a24089c', N'96c66c86-4ded-4634-b13c-056dcacfa699', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[CustomerAddresses] ([AddressId], [StatusId], [CustomerId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'8cc45897-2ba0-4d34-19db-08dd9a9716bb', N'bbada06f-c2fd-49f6-8496-49115a24089c', N'6235c206-394c-4695-a7cb-dd8f7fb49086', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[CustomerOrders] ([OrderId], [OrderDate], [CustomerId], [ShippingMethodId], [DestAddressId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'2008edc4-c8fb-468d-8e8e-0364ffd0be9c', CAST(N'2025-05-10T18:16:02.8041079' AS DateTime2), N'96c66c86-4ded-4634-b13c-056dcacfa699', N'4c18422b-61be-4374-8dd5-67ec7f01db13', N'c7ab157a-9d78-4e38-94e1-073140e858ac', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[CustomerOrders] ([OrderId], [OrderDate], [CustomerId], [ShippingMethodId], [DestAddressId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'99ed4658-dfe6-4f45-9d20-037e55b21427', CAST(N'2025-05-25T19:17:57.2439244' AS DateTime2), N'6235c206-394c-4695-a7cb-dd8f7fb49086', N'1b6f3cd9-49a5-4105-a43c-18d618332927', N'8cc45897-2ba0-4d34-19db-08dd9a9716bb', CAST(N'2025-05-25T19:17:57.2441008' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[CustomerOrders] ([OrderId], [OrderDate], [CustomerId], [ShippingMethodId], [DestAddressId], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'87ee3c21-c8a4-44de-8f8f-2a48b29515c4', CAST(N'2025-04-01T18:14:03.7751221' AS DateTime2), N'c5ff63c3-2353-4c94-a573-80aa7ca41173', N'1b6f3cd9-49a5-4105-a43c-18d618332927', N'c723ffab-a2f6-49b7-8450-08dda0fc31ac', CAST(N'2025-06-01T18:14:03.7751248' AS DateTime2), NULL, NULL, NULL, 0)
GO
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [Email], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'84dc2038-0020-4c00-b3e4-055e24e747bd', N'Mary', N'Jones', N'mary.jones@example.com', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [Email], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'96c66c86-4ded-4634-b13c-056dcacfa699', N'Michael', N'Taylor', N'michael.taylor@example.com', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [Email], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'89b34e2b-e08c-4d64-823d-1a83e83be7f2', N'Susan', N'Brown', N'susan.brown@outlook.com', CAST(N'2025-06-05T13:46:40.2802637' AS DateTime2), CAST(N'2025-06-05T13:47:22.5703895' AS DateTime2), NULL, NULL, 0)
GO
INSERT [dbo].[OrderHistories] ([HistoryId], [OrderId], [StatusId], [StatusDate], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'f7e2ca40-97f4-48b1-9dfe-051d9d28f80d', N'2008edc4-c8fb-468d-8e8e-0364ffd0be9c', N'c8b5dd60-6909-435d-9607-1bf69e57aa74', CAST(N'2025-05-10T18:16:02.9566933' AS DateTime2), NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[OrderHistories] ([HistoryId], [OrderId], [StatusId], [StatusDate], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'7f20a978-55db-4212-4499-08dd9b862f2b', N'99ed4658-dfe6-4f45-9d20-037e55b21427', N'3c7cd363-5320-40d3-beb1-2b3354bfaedc', CAST(N'2025-05-26T01:05:33.9749654' AS DateTime2), CAST(N'2025-05-25T19:17:57.5329962' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[OrderHistories] ([HistoryId], [OrderId], [StatusId], [StatusDate], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'aa6dbc9e-d72e-4231-e4f0-08dd9c65a5cd', N'2f67d632-120c-4062-bb6a-71101acdc43f', N'3c7cd363-5320-40d3-beb1-2b3354bfaedc', CAST(N'2025-04-26T21:59:05.1334403' AS DateTime2), CAST(N'2025-05-26T21:57:34.3455975' AS DateTime2), NULL, NULL, NULL, 0)
GO
INSERT [dbo].[OrderLines] ([LineId], [OrderId], [BookId], [Price], [Quantity], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'eea4c869-fef4-49a3-94d1-0270180cf981', N'ad0262d2-3559-4a51-88fb-39a5fb21a899', N'de7a2583-3d47-4f95-aede-bba797ea1e7a', CAST(22.00 AS Decimal(18, 2)), 1, CAST(N'2025-06-05T21:05:05.8940455' AS DateTime2), NULL, NULL, NULL, 0)
INSERT [dbo].[OrderLines] ([LineId], [OrderId], [BookId], [Price], [Quantity], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'4da5fc70-ce97-495b-a877-03b9aacf0a39', N'81b4c217-950c-437b-b9bf-b4dcf8970960', N'76f26c2c-3b39-427c-a14a-27927ed6f14b', CAST(10.30 AS Decimal(18, 2)), 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[OrderLines] ([LineId], [OrderId], [BookId], [Price], [Quantity], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'a419fb83-9959-429a-97bc-097b9febda14', N'2008edc4-c8fb-468d-8e8e-0364ffd0be9c', N'e30145dc-57a3-4d83-b967-005d2061a958', CAST(19.99 AS Decimal(18, 2)), 1, NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[OrderStatuses] ([StatusId], [StatusValue], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'c8b5dd60-6909-435d-9607-1bf69e57aa74', N'Returned', CAST(N'2025-05-10T18:09:08.0751031' AS DateTime2), CAST(N'2025-05-10T18:09:08.0751032' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[OrderStatuses] ([StatusId], [StatusValue], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'3c7cd363-5320-40d3-beb1-2b3354bfaedc', N'Shipped', CAST(N'2025-05-10T18:09:08.0751023' AS DateTime2), CAST(N'2025-05-10T18:09:08.0751023' AS DateTime2), NULL, NULL, 0)
INSERT [dbo].[OrderStatuses] ([StatusId], [StatusValue], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'cd3d9f51-6b34-499a-bf43-2be6f02cd496', N'Pending', CAST(N'2025-05-10T18:09:08.0732208' AS DateTime2), CAST(N'2025-05-10T18:09:08.0750121' AS DateTime2), NULL, NULL, 0)
GO
INSERT [dbo].[Publishers] ([PublisherId], [PublisherName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'dcd33766-cd9a-4fd5-91b1-1183a0a4a640', N'Oxford University Press', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Publishers] ([PublisherId], [PublisherName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'b7042113-8e0f-4f55-87e1-28fbf88f970b', N'Cambridge University Press', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[Publishers] ([PublisherId], [PublisherName], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'7436582c-ac9c-4b03-99b1-39900b258580', N'Wiley', NULL, NULL, NULL, NULL, 0)
GO
INSERT [dbo].[ShippingMethods] ([MethodId], [MethodName], [Code], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'1b6f3cd9-49a5-4105-a43c-18d618332927', N'Standard Shipping', 1, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[ShippingMethods] ([MethodId], [MethodName], [Code], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'4c18422b-61be-4374-8dd5-67ec7f01db13', N'International Shipping', 4, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[ShippingMethods] ([MethodId], [MethodName], [Code], [CreatedTime], [ModifiedTime], [CreatedBy], [ModifiedBy], [IsDeleted]) VALUES (N'b7a97b55-d323-46c2-9841-ae835731e40a', N'Same-Day Delivery', 5, NULL, NULL, NULL, NULL, 0)
GO
/****** Object:  Index [IX_Accounts_CustomerId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Accounts_CustomerId] ON [dbo].[Accounts]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Addresses_CountryId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Addresses_CountryId] ON [dbo].[Addresses]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BookAuthors_BookId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_BookAuthors_BookId] ON [dbo].[BookAuthors]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_CategoryId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_CategoryId] ON [dbo].[Books]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_LanguageId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_LanguageId] ON [dbo].[Books]
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Books_PublisherId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Books_PublisherId] ON [dbo].[Books]
(
	[PublisherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerAddresses_CustomerId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAddresses_CustomerId] ON [dbo].[CustomerAddresses]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerAddresses_StatusId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAddresses_StatusId] ON [dbo].[CustomerAddresses]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerOrders_CustomerId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerOrders_CustomerId] ON [dbo].[CustomerOrders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerOrders_DestAddressId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerOrders_DestAddressId] ON [dbo].[CustomerOrders]
(
	[DestAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerOrders_ShippingMethodId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerOrders_ShippingMethodId] ON [dbo].[CustomerOrders]
(
	[ShippingMethodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderHistories_OrderId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderHistories_OrderId] ON [dbo].[OrderHistories]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderHistories_StatusId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderHistories_StatusId] ON [dbo].[OrderHistories]
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderLines_BookId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderLines_BookId] ON [dbo].[OrderLines]
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderLines_OrderId]    Script Date: 6/5/2025 11:51:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderLines_OrderId] ON [dbo].[OrderLines]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries_CountryId]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([AuthorId])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Authors_AuthorId]
GO
ALTER TABLE [dbo].[BookAuthors]  WITH CHECK ADD  CONSTRAINT [FK_BookAuthors_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[BookAuthors] CHECK CONSTRAINT [FK_BookAuthors_Books_BookId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_BookLanguages_LanguageId] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[BookLanguages] ([LanguageId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_BookLanguages_LanguageId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers_PublisherId] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([PublisherId])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers_PublisherId]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_Addresses_AddressId]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_AddressStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[AddressStatuses] ([StatusId])
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_AddressStatuses_StatusId]
GO
ALTER TABLE [dbo].[CustomerAddresses]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddresses_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerAddresses] CHECK CONSTRAINT [FK_CustomerAddresses_Customers_CustomerId]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrders_Addresses_DestAddressId] FOREIGN KEY([DestAddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
GO
ALTER TABLE [dbo].[CustomerOrders] CHECK CONSTRAINT [FK_CustomerOrders_Addresses_DestAddressId]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrders_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[CustomerOrders] CHECK CONSTRAINT [FK_CustomerOrders_Customers_CustomerId]
GO
ALTER TABLE [dbo].[CustomerOrders]  WITH CHECK ADD  CONSTRAINT [FK_CustomerOrders_ShippingMethods_ShippingMethodId] FOREIGN KEY([ShippingMethodId])
REFERENCES [dbo].[ShippingMethods] ([MethodId])
GO
ALTER TABLE [dbo].[CustomerOrders] CHECK CONSTRAINT [FK_CustomerOrders_ShippingMethods_ShippingMethodId]
GO
ALTER TABLE [dbo].[OrderHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistories_CustomerOrders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[CustomerOrders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderHistories] CHECK CONSTRAINT [FK_OrderHistories_CustomerOrders_OrderId]
GO
ALTER TABLE [dbo].[OrderHistories]  WITH CHECK ADD  CONSTRAINT [FK_OrderHistories_OrderStatuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[OrderStatuses] ([StatusId])
GO
ALTER TABLE [dbo].[OrderHistories] CHECK CONSTRAINT [FK_OrderHistories_OrderStatuses_StatusId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLines_Books_BookId] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([BookId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLines_Books_BookId]
GO
ALTER TABLE [dbo].[OrderLines]  WITH CHECK ADD  CONSTRAINT [FK_OrderLines_CustomerOrders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[CustomerOrders] ([OrderId])
GO
ALTER TABLE [dbo].[OrderLines] CHECK CONSTRAINT [FK_OrderLines_CustomerOrders_OrderId]
GO
USE [master]
GO
